@model PZ.Models.ReservationListViewModel
@{
    ViewBag.Title = "Rezerwacje";
}

@section Head{
	<script type="text/javascript">
		$(document).ready(function () {
			$(".editableDate").editable({
				format: 'yyyy-mm-dd',
				viewformat: 'dd/mm/yyyy',
				datepicker: {
					weekStart: 1
				},
				mode: "popup",
				placement: "bottom",
				url: function(params)
				{
					window.top.location.href = window.top.location.href.split("?")[0] + '?value=' + params.value;
				}
			});
		});
	</script>
}


<h2>Rezerwacje <a href="#" class="editableDate" data-name="date" data-type="date" data-title="Zmień datę">@Model.Date.Date.ToString("dd/MM/yyyy")</a></h2>

<table class="table table-bordered" style="table-layout: fixed">
    <thead>
        <tr>
            <th></th>
            @for (var j = 0; j < Model.Data[0].Length; j++)
            {
                <th>@(j + Model.OpeningHour):00</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Tables.Count; i++)
        {
            var table = Model.Tables[i];
            var reservations = Model.Data[i];
            <tr>
                <th>@i.ToString()<br />Miejsca: @table.Capacity</th>
                @for (var j = 0; j < Model.Data[i].Length; j++)
                {
                    if (Model.Data[i][j] == 0)
                    {
                        <th class="success" style="text-align: center; background-color: #16e728">free</th>
                    }
                    else if (Model.Data[i][j] == 1)
                    {
                        <th class="danger" style="text-align: center; background-color: #B30000; "><font style="color: rgb(96, 252, 252)">reserved</font></th>
                    }
                    else
                    {
                        <th class="info" style="text-align: center; background-color: #F9FF00">your reservation</th>
                    }
                }
            </tr>
        }
    </tbody>
</table>




